<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <ul class="ch-grid">
        <li ng-repeat="page in pages">
            <div class="ch-item">
                <span class="fa {{page.icon}} ch-icon fa-fw"></span>
                <a href="{{page.link}}" class="ch-info">
                    <h3>{{page.name}}</h3>
                </a>
            </div>
        </li>
    </ul>

    <div class="form-group">
        <label for="name">Image Viewer</label>
        <input type="text" placeholder="fileId" name="name" id="name" class="form-control" style="width: 50%;"
               ng-model="fileId" required>
    </div>
    <img ng-src="/api/upload/{{fileId}}">
</div>
