<div class="">
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Users</h1>
        </div>
    </div>
    <div class="row">
        <md-content>
            <md-list>
                <md-list-item class="md-2-line md-with-secondary md-clickable fade-out" ng-repeat="user in users" ng-class="{deleted: user.deleted}">
                    <md-button class="md-no-style" ng-click="goToUser(user._id)">
                        <div class="md-list-item-inner">
                            <img class="md-avatar" ng-src="/api/upload/{{user.imageId}}.jpg" alt="{{user.name}}">
                            <div class="md-list-item-text">
                                <h3>{{user.name}}</h3>
                                <p>{{user.email}}</p>
                            </div>
                            <div class="icon-section text-muted">
                                <i class="fa fa-hdd-o fa-2x" ng-class="{'local-color': user.providers.local}"></i>
                                <i class="fa fa-facebook-official fa-2x" ng-class="{'facebook-color': user.providers.facebook}"></i>
                                <i class="fa fa-twitter fa-2x" ng-class="{'twitter-color': user.providers.twitter}"></i>
                                <i class="fa fa-google-plus fa-2x" ng-class="{'google-plus-color': user.providers.google}"></i>
                                <i class="fa fa-linkedin-square fa-2x" ng-class="{'linkedin-color': user.providers.linkedin}"></i>
                                <i class="fa fa-github fa-2x" ng-class="{'github-color': user.providers.github}"></i>
                            </div>
                        </div>
                    </md-button>
                    <md-button class="md-secondary-container md-icon-button" aria-label="Delete User" ng-click="deleteUser(user, $event)">
                        <md-icon class="fa md-warn" md-font-icon="fa-trash-o"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
