<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Users</h1>
        </div>
    </div>
    <div class="row">
        <md-content>
            <md-list class="user-list">
                <md-item ng-repeat="user in users">
                    <md-item-content class="user-row">
                        <div class="md-tile-left">
                            <img ng-src="/api/upload/{{user.imageId}}.jpg" class="face img-circle" alt="{{user.name}}" style="width: 48px; margin: 16px; border: 1px solid #ddd;">
                        </div>
                        <div class="md-tile-content">
                            <h3>{{user.name}}</h3>
                            <h4>{{user.role}}</h4>
                            <p>
                                {{user.email}}
                            </p>
                        </div>
                        <div class="md-tile-right">
                            <md-button class="md-fab" ng-click="deleteUser(user)">
                                <span class="fa fa-trash-o fa-2x" style="color: red;"></span>
                            </md-button>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
