<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Photos</h1>
        </div>

        <span class="btn btn-lg btn-primary btn-file">
            <span class="fa fa-plus"></span> Add Photos
            <input type="file" accept="images/*" id="file-input" name="myFiles[]"
                   ng-file-select="onFileSelect($files)" multiple>
        </span>
    </div>

    <div class="row">
        <ul class="upload-grid">
            <li class="upload-grid-item" ng-repeat="photo in photos">
                <div class="upload-grid-figure">
                    <progressbar ng-if="!photo.thumbnailId" class="progress-striped active" value="photo.progress">
                        <b>{{photo.progress}}%</b>
                    </progressbar>
                    <img ng-if="photo.thumbnailId" ng-src="/api/upload/{{photo.thumbnailId}}" alt="photo.filename"/>
                </div>
                <div class="upload-grid-caption">
                    <form action="">
                        <input type="text" class="form-control" placeholder="{{photo.filename}}" ng-model="photo.name">
                        <input type="text" class="form-control" placeholder="Info" ng-model="photo.info">
                    </form>
                </div>
            </li>
        </ul>
    </div>
</div>
