<div class="container">
    <h1 class="page-header">Manage Galleries</h1>

    <div masonry='{
                "transitionDuration" : "0.4s" ,
                "itemSelector" : ".brick",
                "gutter": 10,
                "containerStyle": {"margin": "auto"},
                "isFitWidth": true
            }' id="masonry-container" style="position: relative;">
        <div class="brick card md-whiteframe-z1" ng-repeat="gallery in galleries" md-ink-ripple ng-click="goToGallery(gallery._id)">
            <div class="item">
                <img ng-src="api/upload/{{gallery.featured.thumbnailId}}" class="" alt="{{gallery.name}}">
            </div>
            <!--<md-button class="md-fab pull-right md-fab-offset">X</md-button>-->
            <div class="card-content">
                <h3>{{gallery.name}}</h3>
                <p>{{gallery.info}}</p>
            </div>
        </div>
    </div>

    <md-button class="md-fab md-fab-bottom-right" aria-label="New Gallery" ng-click="goToGallery(gallery._id)">
        <md-icon class="fa fa-2x" md-font-icon="fa-plus"></md-icon>
    </md-button>
</div>
