.spinner {
    width: 205px;
    height: 205px;
    padding-top: 60px;
    text-align: center;
    font-size: 3em;
}

.pswp {
    // Fix Bootstrap navbar on top of PhotoSwipe
    z-index: 1500 !important;
}
