.navbar {
    border-bottom: none;
    background-color: $primaryColor;
    color: white;
    padding: 10px 30px;
    margin-bottom: 0;

    .container {
        .navbar-header {
            .logo-portrait {
                margin: 0 20px;
            }
            .navbar-toggle {
                padding: 0;
                font-size: 30px;
                border: none;
                background-color: transparent;
                @media (min-width: $grid-float-breakpoint) {
                    display: none;
                }
            }
        }
        .navbar-collapse {
            border: none;
            @include box-shadow(none);
            .nav {
                color: #777;
                li {
                    .navbar-text {
                        text-align: center;
                        margin: 12px;
                    }
                    .md-button {
                        position: relative;
                        text-transform: none;
                        display: block;
                        margin-left: 5px;
                        margin-right: 5px;
                        span {
                            position: relative;
                            font-size: 14px;
                            display: block;
                        }
                    }
                    .md-button.md-default-theme:not([disabled]):hover, .md-button.md-default-theme:not([disabled]).focus {
                        background-color: $darkPrimaryColor;
                    }
                    &.active {
                        .md-button.md-default-theme:not([disabled]),
                        .md-button.md-default-theme:not([disabled]):hover,
                        .md-button.md-default-theme:not([disabled]).focus {
                            background-color: $ak-base-color-darker;
                            color: #2a6496;
                        }
                    }
                }
            }
        }
    }
}

/* Custom page header */
.header {
    .header-content {
        width: 100%;
        padding: 0 20px;
        max-width: 1243px;
        margin: 0 auto;
    }

    .header-content:before, .header-content:after {
        content: "";
        display: table;
    }
    .header-content:after {
        clear: both;
    }

    .logo-portrait {
        margin: 0 auto;
        padding: 5px 0;
        clear: both;
        width: 3rem;
    }

    .nav {
        float: none !important;
        margin: 0 auto;
        clear: both;
        width: 275px;
        font-size: .5em;
    }

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}
