<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Featured Items</h1>

            <button ng-click="newFeaturedSection()" type="button" class="btn btn-primary btn-lg">Generate new Featured
                Section
            </button>
        </div>
    </div>
    <div class="row">
        <md-content>
            <md-list class="user-list">
                <md-item ng-repeat="item in items">
                    <md-item-content class="user-row">
                        <div class="md-tile-left">
                            <div bg-img="api/upload/{{item.thumbnailId}}.jpg" style="width: 48px; height: 48px; margin: 16px;"></div>
                        </div>
                        <div class="md-tile-content">
                            <h3>{{item.name}}</h3>
                            <h4>{{item.type}}</h4>
                            <p>
                                {{item.link}}
                            </p>
                        </div>
                        <div class="md-tile-right">
                            <md-button class="md-fab" ng-click="deleteItem(item)" aria-label="Delete Item">
                                <span class="fa fa-trash-o fa-2x" style="color: red;"></span>
                            </md-button>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
