<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Featured Items</h1>

            <button ng-click="newFeaturedSection()" type="button" class="btn btn-primary btn-lg">Generate new Featured
                Section
            </button>
        </div>
    </div>
    <div class="row">
        <md-content>
            <md-list>
                <md-list-item class="md-3-line md-with-secondary md-clickable" ng-repeat="item in items" ng-class="{deleted: item.deleted}">
                    <md-button class="md-no-style">
                        <div class="md-list-item-inner">
                            <img class="md-avatar" ng-src="/api/upload/{{item.thumbnailId}}.jpg" alt="{{item.name}}">
                            <div class="md-list-item-text">
                                <h3>{{item.name}}</h3>
                                <h4>{{item.type}}</h4>
                                <p>{{item.link}}</p>
                            </div>
                        </div>
                    </md-button>
                    <md-button class="md-secondary-container md-icon-button" aria-label="Delete Item" ng-click="deleteItem(item)">
                        <md-icon class="fa fa-2x md-warn" md-font-icon="fa-trash-o"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
