<div class="container">
    <div class="row">
        <md-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2><span>Manage Featured Items</span></h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Render new Featured Section" ng-click="newFeaturedSection()">
                        <div flex layout="row" layout-align="center center">
                            <md-icon class="fa fa-2x" md-font-icon="fa-refresh"></md-icon>
                            Render New Section
                        </div>
                    </md-button>
                </div>
            </md-toolbar>
            <md-list>
                <md-list-item class="md-3-line md-with-secondary md-clickable fade-out" ng-repeat="item in items" ng-class="{deleted: item.deleted}">
                    <md-button class="md-no-style">
                        <div class="md-list-item-inner">
                            <img class="md-avatar" ng-src="/api/upload/{{item.thumbnailId}}.jpg" alt="{{item.name}}">
                            <div class="md-list-item-text">
                                <h3>{{item.name}}</h3>
                                <h4>{{item.type}}</h4>
                                <p>{{item.link}}</p>
                            </div>
                        </div>
                    </md-button>
                    <md-button class="md-secondary-container md-icon-button" aria-label="Delete Item" ng-click="deleteItem(item, $event)">
                        <md-icon class="fa fa-2x md-warn" md-font-icon="fa-trash-o"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
