ul.project-list {
    list-style: none;

    li.project {
        width: 500px;

        .cover {
            width: 500px;
        }
        .caption {
            width: inherit;
            background-color: lightgray;
            padding: 20px;

            .project-name {
                font-size: 2.5em;
                font-weight: 700;
                font-family: "Roboto", sans-serif;
                margin: 10px 5px;
            }
        }
    }
}
