/**
 * App-wide Variables
 */

$font-stack: 'Open Sans', sans-serif;
$header-font-stack: 'Roboto', sans-serif;

$subtle-border: 1px solid #e5e5e5;

/**
 * Lengths
 */

    /**
     * Footer
     */
    $footer-height: 61px;
    /**
     * Featured Section
     */
    $featured-height: 460px;

/**
 * Colors
 */

    /**
     * General
     */
    $ak-base-color-darker   : #428bca;
    $ak-base-color-darkest  : #3e709e;
    $border-color           : #1d1d1d;
    $text-black             : #141414;
    $text-muted             : #999999;
    $link-color             : #4B85AE;

    $darkPrimaryColor       : #0288D1;
    $primaryColor           : #03A9F4;
    $lightPrimaryColor      : #B3E5FC;
    $accentColor            : #FF5252;
    $darkTextColor          : #212121;
    $lightTextColor         : #FFFFFF;
    $secondaryTextColor     : #727272;
    $dividerColor           : #B6B6B6;

    /**
     * CBP Grid Gallery
     */
    $cbp-caption-background-color: #e4e4e4;
