$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:500,700,900);
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

@import 'bourbon/dist/bourbon';

// Component styles are injected through grunt
// injector
@import '_variables.scss';
@import 'account/login/login.scss';
@import 'account/settings/settings.scss';
@import 'account/signup/signup.scss';
@import 'admin/admin.scss';
@import 'admin/blogManager/blogManager.scss';
@import 'admin/featuredManager/featuredManager.scss';
@import 'admin/fileManager/fileManager.scss';
@import 'admin/galleryEditor/galleryEditor.scss';
@import 'admin/photoManager/photoManager.scss';
@import 'admin/projectEditor/projectEditor.scss';
@import 'admin/projectManager/projectManager.scss';
@import 'admin/siteSettings/siteSettings.scss';
@import 'admin/userManager/userManager.scss';
@import 'blog/blog.scss';
@import 'blog/post/post.scss';
@import 'main/main.scss';
@import 'photos/gallery/gallery.scss';
@import 'photos/photos.scss';
@import 'projects/project/project.scss';
@import 'projects/projects.scss';
@import 'resume/resume.scss';
@import 'navbar/navbar.scss';
// endinjector
@import '../assets/css/cbp-grid-gallery';

/**
 * App-wide Styles
 */

html, body {
    height: 100%;
    font-family: $font-stack;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.page-header {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    font-family: $header-font-stack;
    font-weight: 700;
    text-align: center;
    border: none;
    padding: 0;
    margin: 20px 0 10px 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.md-button:focus, .md-button:hover {
    text-decoration: none;
}
.md-button-lg {
    font-size: 1.5rem;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    span {
        text-decoration: none;
    }
}

.grid-gallery {
    min-height: 350px;
}
