$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:700);
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';
@import '../assets/css/cbp-grid-gallery';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import '_variables.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'blog/blog.scss';
@import 'main/main.scss';
@import 'photos/photos.scss';
@import 'projects/projects.scss';
@import 'resume/resume.scss';
@import 'navbar/navbar.scss';
// endinjector

html, body {
    height: 100%;
    font-family: $font-stack;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

md-button {
    font-size: 2rem;
    padding: 0 15px;
    .md-button-inner {
        padding: 10px;
        text-decoration: none;
    }
}
