.spinner {
    width: 205px;
    height: 205px;
    padding-top: 60px;
    text-align: center;
    font-size: 3em;
}

.grid li figure {
    img {
        display: none;
    }
}
.grid li figure.done {
    img {
        display: block;
    }
    .spinner {
        display: none;
    }
}
