<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div ng-if="error" class="row">
        <alert type="danger">Error: {{error}}</alert>
    </div>

    <div ng-if="!error" class="container post">
        <h2 class="post-header">{{post.title}}</h2>
        <h5 class="post-date">{{post.date}}</h5>

        <div class="block-author">
            <div class="block-meta">
                <div class="meta-avatar">
                    <a ng-href="/users/{{::post.author.id}}" class="avatar avatar--small" title="Go to {{::post.author.name}}'s profile">
                        <img ng-src="/api/upload/{{::post.author.imageId}}" class="img-circle" title="{{::post.author.name}}">
                    </a>
                </div>
                <div class="meta-summary">
                    by
                    <a ng-href="/users/{{::post.author.id}}" title="Go to {{::post.author.name}}'s profile" class="link link--accent link--darken">
                        {{::post.author.name}}
                    </a>
                        <span class="metaInline metaInline--supplemental">
                            {{post.localeDate}}
                        </span>
                </div>
            </div>
        </div>

        <br/>

        <div class="lead" ng-bind-html="post.content"></div>

        {{post.categories}}
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>
            &copy; Andrew Koroluk |
            <a href="https://github.com/Awk34">GitHub</a>
        </p>
    </div>
</footer>
