<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle fa fa-bars" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="logo-portrait" href="/">
                <img class="img-circle" src="assets/images/portrait_2014.jpg" alt="AK"/>
            </a>
        </div>
        <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
                    <md-button ng-href="{{::item.link}}" aria-label="{{::item.title}}">{{::item.title}}</md-button>
                </li>
                <li ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin')}">
                    <md-button ui-sref="admin" aria-label="Admin">Admin</md-button>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <!--<li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>-->
                <li ng-hide="nav.isLoggedIn()" ng-class="{active: isActive('/login')}">
                    <md-button ui-sref="login" aria-label="Login">Login</md-button>
                </li>
                <li ng-if="nav.isLoggedIn()" style="margin-left: 5px; margin-right: 5px;">
                    <a ng-href="/user/{{nav.getCurrentUser()._id}}" style="padding: 0"><span class="user-image" ng-style="{'background-image':'url(/api/upload/{{nav.getCurrentUser().imageId}}.jpg)'}"></span></a>
                </li>
                <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/settings')}">
                    <md-button ui-sref="admin.settings" aria-label="Settings"><i class="fa fa-cog"></i></md-button>
                </li>
                <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/logout')}">
                    <md-button href="" ng-click="nav.logout()" aria-label="Logout">Logout</md-button>
                </li>
            </ul>
        </div>
    </div>
</div>
