<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">

    <header class="hero-unit" id="banner">
        <div class="container">
            <h1>Andrew Koroluk</h1>

            <p class="lead">This site is under construction.</p>

            <p ng-show="true">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed quis magna
                malesuada, tempor lorem eget, volutpat est. Interdum et malesuada fames ac ante ipsum primis in
                faucibus. Nunc sit amet semper ante, sed tincidunt diam. Phasellus mattis, justo a lacinia luctus, sem
                mauris hendrerit ante, et eleifend elit tortor a neque. Curabitur sagittis nec risus quis auctor. In
                semper nisl id purus fermentum, eu vulputate metus aliquam. Cras tincidunt, sem eget luctus tincidunt,
                eros nulla faucibus arcu, eu lobortis tellus orci sed felis. Aliquam ac orci interdum, rutrum lacus
                consectetur, cursus enim. Aenean luctus nibh et tempus tincidunt. Aliquam auctor sit amet massa in
                tempor. Curabitur eget placerat tortor, eu imperdiet metus. Integer elementum suscipit massa, nec porta
                tortor cursus vel.
                <br/><br/>
                Donec tristique leo et lorem porta, ut fermentum nisi facilisis. Mauris molestie diam eu nunc commodo
                aliquam. Duis molestie, nulla a imperdiet varius, ante ipsum convallis eros, at scelerisque nisl arcu at
                leo. Phasellus non ultricies arcu. Aliquam purus sem, placerat sit amet elementum at, molestie in nulla.
                Integer iaculis, enim lacinia iaculis luctus, tellus felis adipiscing nisl, nec faucibus diam ipsum sit
                amet eros. Nunc est justo, accumsan nec diam a, aliquam congue lacus. Morbi a aliquam dolor. Suspendisse
                potenti. Aliquam et arcu diam. Cras aliquam dolor in ipsum auctor eleifend. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. Phasellus adipiscing neque enim, at porttitor orci aliquam ac.
                Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam
                auctor adipiscing dolor, id convallis magna lacinia a.
                <br/><br/>
                Vivamus urna ante, auctor nec interdum et, pellentesque ac nunc. Etiam mollis cursus turpis, mattis
                elementum felis posuere a. Sed quis pulvinar felis. Quisque a massa varius, commodo lectus volutpat,
                placerat quam. Aenean ut laoreet nisi. Duis at sapien lectus. Sed vel ornare lacus. Sed ac venenatis
                leo. Ut cursus tellus eros, eu gravida urna accumsan sed. Proin dapibus odio lorem, at fringilla enim
                tincidunt sed. Cras pretium lacinia lectus ut mollis. Proin eu tellus ipsum. Aenean semper, nulla
                accumsan molestie tincidunt, nibh tortor gravida elit, vel molestie magna lorem ac tortor. Sed fringilla
                aliquet aliquam. Curabitur at ipsum venenatis, aliquet mauris ut, pulvinar nisi. Vivamus consequat
                placerat urna, sed venenatis nulla.
            </p>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cool Things:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
                <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}
                    <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button>
                </a></li>
            </ul>
        </div>
    </div>

    <form class="thing-form">
        <label>Syncs in realtime across clients</label>

        <p class="input-group">
            <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
            </span>
        </p>
    </form>
</div>

<footer class="footer">
    <div class="container">
        <p>&copy; Andrew Koroluk |
            <a href="https://github.com/Awk34">GitHub</a></p>
    </div>
</footer>
