<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <header class="hero-unit" id="banner">
        <div class="container">
            <h1>Andrew Koroluk</h1>

            <p class="lead">This site is under construction.</p>

            <p ng-show="true">
                Bacon ipsum dolor sit amet ham hock pork belly landjaeger, sirloin turducken ground round pork chop corned beef. Bacon flank biltong, ground round tenderloin kevin brisket rump meatball strip steak prosciutto short ribs swine shankle capicola. Ball tip tri-tip bacon salami shankle. Leberkas drumstick t-bone pastrami, kevin meatloaf ball tip turkey porchetta chicken prosciutto andouille chuck brisket swine.
                <br/><br/>
                Hamburger short loin pastrami, ham hock pancetta turducken beef ribs ribeye porchetta pig tri-tip. Bresaola kevin jerky flank. Leberkas jowl andouille, frankfurter rump beef spare ribs doner chicken corned beef salami meatball. Ground round sirloin pig drumstick jerky tri-tip bacon.
                <br/><br/>
                Corned beef ham hock cow biltong shankle. Beef ribs rump pork loin andouille. Filet mignon hamburger meatball rump shankle. Jerky flank chuck, tongue bacon pork loin drumstick salami. Pork loin bacon filet mignon, leberkas kielbasa ground round pork ham hock turducken tenderloin cow.
            </p>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Featured Photos:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="photo in photos">
                <li>
                    {{photo.name}}
                    <div style="height: 100px; width: 100px; overflow: hidden;">
                        <img style="height: 100px;" ng-src="{{photo.sourceUri}}">
                    </div>
                </li>
                <!--<li><a href="#" tooltip="{{photo.info}}">{{photo.name}}-->
                    <!--<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button>-->
                <!--</a></li>-->
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cool Things:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
                <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}
                    <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button>
                </a></li>
            </ul>
        </div>
    </div>

    <form class="thing-form">
        <label>Syncs in realtime across clients</label>

        <p class="input-group">
            <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
            </span>
        </p>
    </form>
</div>

<footer class="footer">
    <div class="container">
        <p>&copy; Andrew Koroluk |
            <a href="https://github.com/Awk34">GitHub</a></p>
    </div>
</footer>
