<div ng-include="'components/navbar/navbar.html'"></div>

<svg viewBox="0 0 600 100" ng-click="changeText()">
    <!-- Symbol -->
    <symbol id="s-text">
        <text text-anchor="middle"
              x="50%" y="50%" dy=".35em">
            Andrew Koroluk
        </text>
    </symbol>

    <!-- Duplicate symbols -->
    <use xlink:href="#s-text" class="text"
        ></use>
    <use xlink:href="#s-text" class="text"
        ></use>
    <use xlink:href="#s-text" class="text"
        ></use>
    <use xlink:href="#s-text" class="text"
        ></use>
    <use xlink:href="#s-text" class="text"
        ></use>
</svg>

<div class="container" style="display: none;">
    <header class="hero-unit" id="banner">
        <div class="container">
            <h1 class="page-header">Andrew Koroluk</h1>

            <p>
                I am a student / software engineer with interests in software development, graphic design, user experience, photography, and math/science.
                In my free time I program, play video games, rock climb, program, watch movies, and program.
                <br/><br/>
                I built this website myself. The frontend is based around AngularJS and Bootstrap. The server is based around NodeJS and ExpressJS. I use MongoDB for my database.
                I created my own API, which is used mainly for interfacing with the site's database. The API has the capability to manage database entities, manipulate images, and serve content.
                I created my own Content Management System, which utilizes my API to manage site content. It has useful tools for creating & managing photo galleries, project description pages, blog posts, users, featured items, and more.
                <br/><br/>
                Apart from my website, I am involved in Open Source and private projects. You can read a bit about them in the project section of my website.
            </p>
        </div>
    </header>
</div>

<div class="row">
    <div id="featured-photos">
        <div id="featured-photos-deep">

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Cool Things:</h1>
            <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
                <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}
                    <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button>
                </a></li>
            </ul>
        </div>
    </div>

    <form class="thing-form">
        <label>Syncs in realtime across clients</label>

        <p class="input-group">
            <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
            </span>
        </p>
    </form>
</div>

<div ng-include="'components/footer/footer.html'"></div>
