.timeline {
    padding: 0;
    margin: 0;
}

.timeline-item {
    & > div {
        //border-color: #2196f3;
        display: block;
        padding: 15px 0 15px 20px;
        margin-left: 6em;
        //border: #dddee0 solid;
        border-color: #dddee0;
        border-style: solid;
        border-width: 0 0 0 2px;
        &:before {
            position: relative;
            top: 100px;
            float: left;
            content: "";
            box-shadow: 0 0 0 40px $resume-bg-color;
        }
    }
}

.timeline-date {
    font-family: $header-font-stack;
    font-weight: 300;
    position: relative;
    display: block;
    float: left;
    width: 120px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
.timeline-date-line1 {
    @extend .timeline-date;
    top: 65px;
    font-size: 25px;
    margin-left: -80px;
}
.timeline-date-line2 {
    @extend .timeline-date;
    top: 100px;
    font-size: 20px;
    margin-left: -120px;
}

.timeline-card {
    position: relative;
    display: inline-block;
    height: 200px;
    width: 80%;
    margin-right: 50px;
    background-color: white;
    overflow: hidden;
    img {
        height: 200px;
    }
    .md-button {
        bottom: 0;
        right: 0;
        position: absolute;
        font-size: 2em;
        margin: 6px;
    }
}

.timeline-content {
    padding: 30px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    font-family: $font-stack;
    height: 200px;
    margin: 0;
    h2 {
        margin: 0 0 10px 0;
    }
    p {
        overflow: hidden;
        line-height: 1.5em;
        height: 4.5em;
    }
}
