<md-content>
    <div class="md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="close side nav"
                           ng-click="vm.openSidenav()"
                           ng-style="{'opacity': $parent.vm.isOpen ? 0 : 1}"
                           style="transition: opacity 0.3s ease,visibility 0.3s step-end;">
                    <md-icon class="fa fa-2x" md-font-icon="fa-bars" style="color: white; left: 0;"></md-icon>
                </md-button>
                <h2>
                    <span>Skills</span>
                </h2>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <md-chips class="md-chips-noline"
                      ng-model="vm.profile.skills.values"
                      readonly="true"
                      placeholder="Skill">
                <md-chip-template>
                    <strong>{{$chip.skill.name}}</strong>
                </md-chip-template>
            </md-chips>
        </md-content>
    </div>
    <div class="md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span>Certifications</span>
                </h2>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <md-list class="md-default-theme">
                <md-list-item class="md-clickable" ng-repeat="cert in vm.profile.certifications.values">
                    <img class="md-avatar" src="assets/images/codeschool_avatar.svg" alt="">
                    <div class="md-list-item-text" layout="column">
                        <h4 style="color: black;">{{cert.name}}</h4>
                        <p style="color: black;">{{cert.authority.name}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
    <timeline items="vm.jobs" id="experience"></timeline>
</md-content>
