<div class="">
    <h1 class="page-header">Manage Galleries</h1>

    <div id="masonry-container" style="position: relative;">
        <div class="brick card md-whiteframe-z1" ng-repeat="gallery in vm.galleries" md-ink-ripple ng-click="vm.goToGallery(gallery._id)">
            <div class="item">
                <img ng-src="api/upload/{{gallery.featured.thumbnailId}}" alt="{{gallery.name}}">
            </div>
            <!--<md-button class="md-fab pull-right md-fab-offset">X</md-button>-->
            <div class="card-content">
                <h3>{{gallery.name}}</h3>
                <p>{{gallery.info}}</p>
            </div>
        </div>
    </div>

    <md-button class="md-fab md-fab-bottom-right" aria-label="New Gallery" ng-click="vm.goToGallery()">
        <md-icon class="fa" md-font-icon="fa-plus"></md-icon>
    </md-button>
</div>
