<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Posts</h1>
        </div>
    </div>
    <div class="row">
        <div>
            <md-button ng-show="dirty" ng-click="saveChanges()" class="md-button-lg">
                <i class="fa fa-save"></i>
                Save Changes
            </md-button>
            <md-button href="/admin/blog/post-editor" class="md-button-lg pull-right">
                <i class="fa fa-plus"></i>
                New Post
            </md-button>
        </div>
    </div>
    <div class="row">
        <md-content>
            <md-list class="user-list">
                <md-item ng-class="{deleted: post.deleted}" ng-repeat="post in posts">
                    <a ng-href="/admin/blog/post-editor/{{::post._id}}">
                        <md-item-content class="user-row">
                            <div class="md-tile-left">
                                <div ng-if="post.imageId" bg-img="api/upload/{{post.thumbnailId}}.jpg" style="width: 48px; height: 48px; border-radius: 50%; margin: 16px;"></div>
                                <div ng-if="!post.imageId" style="width: 48px; height: 48px; border-radius: 50%; margin: 16px; background-color: lightblue;"></div>
                            </div>
                            <div class="md-tile-content">
                                <h3>{{post.title}}</h3>
                                <h4>{{post.subheader}}</h4>
                                <p>{{post.link}}</p>
                            </div>
                            <div class="md-tile-right">
                                <md-button class="md-fab md-warn" ng-click="togglePostDeletion(post)" aria-label="Delete Item">
                                    <span class="fa fa-trash-o fa-2x"></span>
                                </md-button>
                            </div>
                        </md-item-content>
                    </a>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
