<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Sign up</h1>

            <md-content class="md-padding">
                <form name="signupForm" ng-submit="register()">
                    <md-input-container>
                        <label>Name</label>
                        <input md-maxlength="60" required name="name" type="name" ng-model="user.name">
                        <div ng-messages="signupForm.name.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The email can be at most 60 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Email</label>
                        <input md-maxlength="60" required name="email" type="email" ng-model="user.email">
                        <div ng-messages="signupForm.email.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The email can be at most 60 characters long.</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input type="password" required name="password" ng-model="user.password">
                        <div ng-messages="signupForm.password.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>

                    <section layout="row" layout-sm="column" layout-align="center center">
                        <md-button class="md-primary md-button-lg" type="submit" aria-label="Sign up">
                            Sign up
                        </md-button>
                        <md-button class="md-button-lg" href="/login" aria-label="Login">
                            Login
                        </md-button>
                    </section>
                </form>

                <br/>

                <!--<section layout="row" layout-sm="column" layout-align="center center">-->
                    <!--<md-button class="md-primary md-button-lg btn-facebook" href="" aria-label="Login" ng-click="loginOauth('facebook')" style="color: #0d2456;">-->
                        <!--<i class="fa fa-facebook"></i>-->
                        <!--Connect with Facebook-->
                    <!--</md-button>-->
                    <!--<md-button class="md-primary md-button-lg btn-google-plus" href="" aria-label="Login" ng-click="loginOauth('google')" style="color: #c23321;">-->
                        <!--<i class="fa fa-google-plus"></i>-->
                        <!--Connect with Google+-->
                    <!--</md-button>-->
                    <!--<md-button class="md-primary md-button-lg btn-twitter" href="" aria-label="Login" ng-click="loginOauth('twitter')" style="color: #1f8eb7;">-->
                        <!--<i class="fa fa-twitter"></i>-->
                        <!--Connect with Twitter-->
                    <!--</md-button>-->
                <!--</section>-->
            </md-content>
        </div>
    </div>
    <hr>
</div>

<div ng-include="'components/footer/footer.html'"></div>
