<div layout="column" flex layout-fill style="position: absolute;" id="">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Overview</span>
        </h2>
    </md-toolbar>
    <md-content class="md-padding" style="min-height: 300px;">
        <img ng-src="/api/upload/{{settings.currentUser.imageId}}.jpg" alt="Current User Image" class="settings-profile-img" />
    </md-content>
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Change Password</span>
        </h2>
    </md-toolbar>
    <md-content class="md-padding" style="min-height: 300px;">
        <form name="userForm" ng-submit="changePassword(userForm)">
            <md-input-container flex>
                <label>Old Password</label>
                <input ng-model="user.oldPassword" name="oldPassword" type="password">
                <div ng-messages="userForm.oldPassword.$error">
                    <div ng-message="wrongPassword">Incorrect password</div>
                </div>
            </md-input-container>

            <md-input-container flex>
                <label>New Password</label>
                <input ng-model="user.newPassword" name="newPassword" type="password" minlength="3">
                <div ng-messages="userForm.newPassword.$error">
                    <div ng-message="minlength">Your password has to be at least 3 characters long.</div>
                </div>
            </md-input-container>

            <md-button class="md-primary" type="submit">Save changes</md-button>
        </form>
    </md-content>
</div>
