<div class="container">
    <div ng-if="error" class="row">
        <alert type="danger">Error: {{vm.error}}</alert>
    </div>

    <div ng-if="!error">
        <div class="cover-image">
            <img ng-src="/api/upload/{{vm.project.coverId}}" alt=""/>
        </div>

        <h1 class="page-header">{{vm.project.name}} <small>{{vm.project.info}}</small></h1>

        <div class="lead" ng-bind-html="vm.content"></div>
    </div>

    <div class="row">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'andrewkoroluk';
            var disqus_identifier = window.location.pathname;
            var disqus_title = document.title;

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    </div>
</div>
