<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div ng-if="galleries.length > 0" class="row masonry-cards-container">
        <h1 class="page-header">Galleries</h1>

        <div masonry='{
                "transitionDuration" : "0.4s" ,
                "itemSelector" : ".brick",
                "gutter": 10,
                "containerStyle": {"margin": "auto"},
                "isFitWidth": true
            }' id="masonry-container" style="position: relative;">
            <a masonry-tile class="brick" ng-repeat="gallery in galleries" ng-href="/photos/{{gallery._id}}">
                <md-card>
                    <img ng-src="api/upload/{{gallery.featuredImgId}}" class="md-card-image" alt="">
                    <md-card-content>
                        <h2 class="md-title">{{gallery.name}}</h2>
                        <p>{{gallery.info}}</p>
                    </md-card-content>
                </md-card>
            </a>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
