<div ng-include="'components/navbar/navbar.html'"></div>

<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Settings</h1>
        </md-toolbar>
        <md-content class="" ng-controller="SettingsSidebarCtrl">
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
            <ul class="sidenav-menu">
                <li class="" ng-repeat="section in sections">
                    <md-button ui-sref="{{section.link}}">
                        <i class="fa fa-fw {{section.icon}}"></i> {{section.title}}
                    </md-button>
                </li>
            </ul>
        </md-content>
    </md-sidenav>
    <md-content flex class="" ng-style="heightStyle" style="min-height: 500px;">
        <div class="padding" layout="column" layout-align="center center" hide-gt-md>
            <md-button ng-click="toggleLeft()" class="md-primary" style="width: 100%">
                Toggle Sidebar
            </md-button>
        </div>
        <div ui-view=""></div>
    </md-content>
</section>

<div ng-include="'components/footer/footer.html'"></div>
