<div class="container">
    <h2 class="dashboard-header">Admin Dashboard</h2>

    <div class="row dashboard-pie-row">
        <div id="chart1" class="col-sm-3 dashboard-donut">
            <span class="preloader"></span>
            <svg></svg>
        </div>
        <div id="chart2" class="col-sm-3 dashboard-donut">
            <span class="preloader"></span>
            <svg></svg>
        </div>
        <div id="chart3" class="col-sm-3 dashboard-donut">
            <span class="preloader"></span>
            <svg></svg>
        </div>
        <div id="chart4" class="col-sm-3 dashboard-donut">
            <span class="preloader"></span>
            <svg></svg>
        </div>
    </div>

    <div class="analytics-container col-sm-6">
        <section id="auth-button"></section>
        <section id="view-selector"></section>
        <section id="timeline"></section>
    </div>

    <div class="col-sm-6">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Collection</th>
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in tableItems">
                    <td ng-repeat="data in row">{{data}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
