<div class="container">
    <uib-alert *ngIf="noItems">No Items</uib-alert>

    <div class="container post-list">
        <div class="post-block" *ngFor="let post of posts">
            <a *ngIf="post.imageId" href="/blog/post/{{post._id}}"
               class="block-image"
               style.background-image="url(/api/upload/{{post.imageId}})"></a>

            <a href="/blog/post/{{post._id}}">
                <h2 class="block-header">{{post.title}} <small [hidden]="!post.hidden">Hidden</small></h2>
            </a>

            <a href="/blog/post/{{post._id}}">
                <p class="block-snippet" [innerHTML]="post.subheader"></p>
            </a>

            <div class="block-author">
                <div class="block-meta">
                    <div class="meta-avatar">
                        <a href="/users/{{post.author.id}}" class="avatar avatar--small" title="Go to {{post.author.name}}'s profile">
                            <img src="/api/upload/{{post.author.imageId}}" class="img-circle" title="{{post.author.name}}">
                        </a>
                    </div>
                    <div class="meta-summary">
                        by
                        <a href="/users/{{post.author.id}}" title="Go to {{post.author.name}}'s profile" class="link">
                            {{post.author.name}}
                        </a>
                        <span class="metaInline metaInline--supplemental">
                            {{post.date}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ngb-pagination
        (pageChange)="pageChanged($event)"
        [pageSize]="pagesize"
        [collectionSize]="collectionSize"
        [page]="page"
        class="center-block"
        style="margin-bottom: 100px;">
    </ngb-pagination>
</div>
